<nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top">
	<button class="navbar-toggler navbar-toggler-right" type="button" 
	data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation"
	data-target="#topnavbar_id" aria-controls="topnavbar_id" 
	(click)="navCollapsed = !navCollapsed">	
	<span class="navbar-toggler-icon"></span>
</button>
<a class="navbar-brand" routerLink="/">WebApp</a>

<div class="collapse navbar-collapse" id="topnavbar_id" [ngbCollapse]=navCollapsed>
	<ul class="navbar-nav mr-auto mt-2 mt-md-0">
		<li class="nav-item" routerLinkActive="active">
			<a class="nav-link">Items</a>
		</li>
		<li class="nav-item" routerLinkActive="active">
			<a class="nav-link">Items</a>
		</li>
		<li class="nav-item" routerLinkActive="active">
			<a class="nav-link" routerLink="/items">Items</a>
		</li>
		<li class="nav-item" routerLinkActive="active">
			<a class="nav-link" routerLink="/items">Items</a>
		</li>
	</ul>
	<ul class="navbar-nav ml-auto mt-2 mt-md-0">
		<ng-template [ngIf]="!checkAuthentication()">
			<li class="nav-item"><a class="nav-link" routerLink="/items">Items</a></li>
			<li class="nav-item"><a  class="nav-link" routerLink="/items">Items</a></li>	
		</ng-template>
		<li class="nav-item" *ngIf="checkAuthentication()" (click)="onLogout()">
			<a class="nav-link">Log Out</a>
		</li>	
	</ul>
</div>
</nav>