<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h6>Upload an image to receive recommendations</h6>
        <div>
          <input type="file" id="input1" accept="image/jpg" class="form-control" name="input1">          
        </div>
        <div>
          <button (click)="dostuff2()" type="button" class="btn btn-secondary">Get Recommendations</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container r-content">
  <div class="row">
    <div class="col-sm-12"> -->
      <div class="card">
        <h3 class="card-header">Recommendations</h3>
        <div class="card-block">
            <ul class="list-group list-group-flush">
                <!-- <div *ngFor="let mitem of mcat.items">          
                  <li class="list-group-item menu-item" (click)="mItemClick(mitem)">
                    <app-item-li [itemli]="mitem"></app-item-li>
                  </li>
                </div> -->                
                <li class="list-group-item menu-item">
                    <!-- <app-item-li [itemli]="mitem"></app-item-li> -->
                    test
                  </li>               
                  <li class="list-group-item menu-item">
                      <!-- <app-item-li [itemli]="mitem"></app-item-li> -->
                      test
                    </li>
              </ul>          
        </div>
      </div>
    <!-- </div>
  </div>
</div> -->