<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="text-center">
          <div class="mb-2">
            <ack-webcam [(ref)]="webcam" [options]="options" (success)="onCamSuccess($event)" (catch)="onCamError($event)"></ack-webcam>
          </div>
          <div class="mb-2">
            <button (click)="genImage()" type="button" class="btn btn-light" [disabled]="disableCamSend"> Send Image </button>
          </div>
        </div>
        <h6>Upload an image to receive recommendations</h6>
        <div class="mb-2">
          <input type="file" id="input1" accept="image/jpg" class="form-control" name="input1">
        </div>
        <div class="mb-2">
          <button (click)="dostuff2('upload','input1')" type="button" class="btn btn-light" [disabled]="disableCamSend">Get Recommendations</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container r-content">
  <div class="row">
    <div class="col-sm-12"> -->
<div class="card" id="rec-card">
  <h3 class="card-header">Recommendations</h3>
  <div class="card-block">
    <ul class="list-group list-group-flush">
      <div *ngFor="let r of recs">
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-2">
              <img [src]="r.productImage" [alt]="r.pname" 
              class="rounded-circle img-responsive" style="max-height:100px;">
            </div>
            <div class="col-md-10">
              <h4 class="list-group-item-heading">{{r.pname}}</h4>
              <p class="list-group-item-text">{{r.description}}
                <br>
                <span class="text-muted">{{r.recommendation}}</span>
              </p>              
            </div>
          </div>
        </li>
      </div>
    </ul>
  </div>
</div>
<!-- </div>
  </div>
</div> -->