.jumbotron {
    background-color: white;
}

.jumbotron-fluid {
    background-color: white;
}

.r-content {
    font-size: 1.15rem;    
}

.card-title {
    text-decoration: underline;
}

.fw-500 {
    font-weight: 500;
}

.findMeLink {
    padding: 4px 8px 6px;
    border-radius: 4px;
    background-color: #205081;
	color: white;	
	margin-bottom: 10px;	
	text-decoration: none;
}