/* You can add global styles to this file, and also import other style files */
// Colors
$transparent: rgba(0, 0, 0, 0);
$black: rgb(0,0,0);
$red: rgb(255,0,0);

// Offset top navbar
body {
    margin-top: 60px;
    background-color: rgba(225, 225, 225, 0.5);
}

main {
    min-height: 80vh;     
    font-size: 1.5rem;    
}

main .content {
    padding-top: 20px;
    padding-bottom: 20px;
}

a{
	cursor:pointer;
}

.navbar-toggleable-md .navbar-nav .nav-link{
	border-style: solid;
	border-width: 0px 0px 2px 0px;
	border-color: $transparent;
	padding: 0;
	margin: .5rem .5rem;
}

.navbar-toggleable-md .navbar-nav .nav-link:hover{	
	border-color: $black;
}